@font-face{
    font-family: terminus;
    src: url(terminus.ttf);    
}

::-webkit-scrollbar-track {
    background-color: #444;
}

::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    color: gainsboro;
}

body{
    margin: 0;
    background-color: #222;
}

#hcolordiv, #fcolordiv{
    overflow: hidden;
    box-shadow: inset 5px 5px #111, inset -5px -5px #111, inset #0008 75px 75px 160px, inset 10px 10px 45px black, inset -10px -10px 45px black, 5px 0 15px #2d2d2d;
    display: flex;
    justify-content: center;
}

#hcolordiv{
    width: 100%;
    height: 128px;
    background-image: linear-gradient(to right, #000, #a24b4b, #826f27, #000);
}

#fcolordiv{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to right, #40712e, #2b5948, #1b6184, #20175e);;

}


footer{
    margin: 0;
    padding: 0;
}

#htilediv, #btilediv, #ftilediv{
    width: 100%;
    background-position: center center;
    background-repeat: repeat;
    opacity: .2;
    position: absolute;
    pointer-events: none;
    z-index: -1;
}

#ftilediv {
    height: 150px;
}

#htilediv, #ftilediv{
    background-image: url(hpattern.webp);
    height: inherit;
    z-index: 1;
}

#hcolordiv nav{
    color: #aeaeae00;
    font-family: "terminus", monospace;
    text-shadow: 0px 0px 0px white, 1px 0px 0 #d0d0d0, 2px 0px 0 #979797c9, 3px 0px 0 #7b7b7bd1, 4px 0px 0 #5e5e5ede, 5px 0px 0 #26262680, 5px 0px 0 #17171794, 6px 0px 0 #13131396, 7px 0px 0 #00000026, 8px 0px 0 #0000002e,2px 2px 10px black;
    font-weight: lighter;
    padding: 10px;
    font-size: 32px;
    margin: auto 0;
}

#hcolordiv nav a{
    text-decoration-line: underline;
}

#fcolordiv h3{
    color: #aeaeae00;
    font-family: "terminus", monospace;
    text-shadow: 0px 0px 0px white, 1px 0px 0 #d0d0d0, 2px 0px 0 #979797c9, 3px 0px 0 #7b7b7bd1, 4px 0px 0 #5e5e5ede, 5px 0px 0 #26262680, 5px 0px 0 #17171794, 6px 0px 0 #13131396, 7px 0px 0 #00000026, 8px 0px 0 #0000002e,2px 2px 10px black;
    font-weight: lighter;
    padding: 36px;
    font-size: 28px;
    margin: auto;
}

#hcolordiv nav a{
    color: #aeaeae00;
}

#headerimg{
    width: calc(96px *3);
    height: 90px;
    image-rendering: pixelated;
    margin: auto auto auto 0;
}

#logonav{
    display: flex;
    margin: auto;
    justify-content: flex-start;
    width: 95vw;
    z-index: 2;
}

#content{
    min-height: calc(100vh - 298px);
    display: flex;
    margin: 0;
    background-image: url(bpatterndark.webp);
    padding: 0 10px 10px 10px;

}

#contmain{
    width: 100%;
    padding: 0px 10px 0px 0px;
}

#contside{
    width: 350px;
}

#bioflex{
    display:flex;
}

#bioflex img{
    width: 156px;
    height: 156px;
    padding: 10px;
    border-radius: 32px 0px 32px 0px;
}

#bioflex div{
    width: 15vw;
}

#content h1, #content h2, #content h3, #content p, #content li, #content pre, #content hr, #content a{
    padding: 10px;
    margin: 0;
    color: white;
    font-family: "terminus";
    font-weight: lighter;
    text-shadow: 1px 0 #444, 2px 0 #2b2b2b, 2px 2px 8px black;
}

#content h1{
    font-size: 32px;
    padding: 5px 10px;
}

#content h2{
    font-size: 24px;
}

#content h3{
    font-size: 20px;
}

#content h1::before, #content h2::before{
    content: "> ";
}

#content p, #content li, #content pre{
    font-size: 18px;
}

#content pre{
    white-space: pre-wrap;
}

#content a{
    color: #c7ef86;
}

#content b{
    font-weight: bold;
}

#content li{
    padding: 5px 10px;
}

#content ul{
    list-style-type: square;
    margin: 0;
}

#content code{
    font-family: terminus;
    box-shadow: #1a1a1a 0px 0px 6px 3px;
    background: #1a1a1a;
    padding: 1px 3px;
}

.bodybox, .warnbox {
    background-color: #222a;
    border-radius: 16px 0px 16px 0px;
    padding: 5px;
    margin: 10px 0px;
    box-shadow: inset 3px 3px 8px #111;
}

.warnbox div{
    background-image: url(warntile.webp);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .03;
}

.warnbox {
    padding: 0px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.warnbox h1{
    font-size: 144px !important;
    text-shadow: 10px 10px 15px black !important;
    padding: 0px 10px !important;
}

.warnbox h1::before{
    content: "" !important;
}

.warnbox pre, .warnbox a{
    padding: 0px 10px 10px 10px !important;
    font-size: 32px !important;
}

#nfgif{
    width: 296px;
    height: 256px;
}

#contspacer{
    text-align: center;
    background-color: #222a;
    border-radius: 16px 0px 16px 0px;
    box-shadow: inset 3px 3px 8px #111;
    padding: 5px;
    text-align: center;
}

#contspacer hr{
    width: calc(100% - 30px);
    padding: 0px;
    margin: 5px auto 10px auto;
}

#contspacer pre{
    padding: 10px 0px 0px 0px;
}

.codediv{
    background-color: #1a1a1a;
    padding: 2px 12px;
    margin: 0px 10px;
    box-shadow: inset 3px 3px 8px #000;
    border-radius: 8px 0px 8px 0px;
    display: grid;
    overflow: auto;
}

.codediv code, .codediv pre{
    color: white;
    font-family: "Terminus";
}

.codediv pre{
    counter-reset: line;
    font-size: 16px !important;
    white-space: pre !important;
    width: 1px;
}

.codediv pre span:before {
    counter-increment: line;
    content: counter(line);
    padding: 0 8px;
    margin-right: 5px;
    color: #888;
}

#fcontentdiv{
    display: flex;
    width: 100vw;
    z-index: 2;
}

#cw{
    flex:1;
    min-width: 17em;
    margin: auto 0;
}

#eeto{
    padding: 30px;
    background-color: #00000057;
    border-radius: 16px 0px 16px 0px;
    margin: 16px 16px;
    box-shadow: inset 3px 3px 8px #111;
    overflow: auto;
    width: calc(100vw - 18em);
    text-align: center;
}

#eeto img{
    width: 88px;
    height: 31px;
}

#lmarg, #rmarg{
    display: none;
}

@media only screen and (max-width: 1023px) {
  #content{
      min-height: calc(100vh - 370px);
      display: grid;
      width: 100%;
      padding: 0;
  }
  #contside{
      padding: 0 10px;
      width: calc(100% - 20px);
  }
  #contmain{
      padding: 0 10px;
      width: calc(100% - 20px);
  }
  #hcolordiv{
      height: 200px;
  }
  #logonav{
      display: grid;
      justify-content: unset;
      width: unset;
  }
  #headerimg{
      margin: .25rem auto;
  }
  #hcolordiv h1{
      margin: 0;
  }
    .warnbox h1{
        font-size: 72px !important;
    }
    .warnbox pre, .warnbox a{
        font-size: 36px !important;
    }
}

@media only screen and (max-width: 649px){
    #hcolordiv nav{
        font-size: 24px;
    }
    #content h1{
        font-size: 24px;
        padding: 5px 10px;
    }

    #content h2{
        font-size: 20px;
    }

    #content h3{
        font-size: 18px;
    }

    #content p, #content li, #content pre{
        font-size: 16px;
    }
    #fcontentdiv{
        display: grid;
        text-align: center;
    }
    #cw h3{
        padding: 16px 16px 0px 16px;
    }
    #eeto{
        width: auto;
        padding: 24px;
    }
    #fcolordiv, #ftilediv{
        height: 200px;
    }
    .warnbox h1{
        font-size: 52px !important;
    }
    .warnbox pre, .warnbox a{
        font-size: 24px !important;
    }
    #nfgif{
        width: 148px;
        height: 128px;
    }
}

@media only screen and (min-width: 1224px){
    #lmarg, #rmarg{
        display: unset;
        opacity: .25;
        width: calc(100vw - 1250px);
    }
    #lmarg div, #rmarg div{
        background-image: url(margintile.webp);
        opacity: .2;
        width: 100%;
        height: 100%;
    }
    #rmarg{
        box-shadow: inset 30px 0 30px 30px rgba(255, 255, 255, 0.04);
    }
    #rmarg div{
        box-shadow: inset 30px 0 30px 30px rgba(0, 0, 0, 0.77);
    }
    #lmarg{
        box-shadow: inset -30px 0px 30px 30px rgba(255, 255, 255, 0.04);
    }
    #lmarg div{
        box-shadow: inset -30px 0px 30px 30px rgba(0, 0, 0, 0.77);
    }
    #content{
        margin: 0;
    }
    #cw h3{
        padding: 36px 36px 36px 8px;
    }
    #fcontentdiv{
        width: 1200px;
    }
    #logonav{
        width: 1190px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1023px){
    #content{
    }
    #contside{
        display: flex;
    }
    #contside div:nth-of-type(1){
        width: 320px;
        margin: 12px 12px 0px 0px;
    }
    #contside div:nth-of-type(2){
        width: 100%;
        margin: 12px 0px 0px 0px;
    }
}

